* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececf3;
}

.wrapper {
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;

}

.addTask {
    background-color: #fff;
    min-height: 80vh;
    width: 100%;

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: rgb(66, 55, 99);
}

form {
    width: 80%;
    display: flex;
}

.addText {
    width: 100%;
    padding: 0.3rem 0.55rem;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.add {
    margin-left: 10px;
    padding: 0.3rem 0.55rem;
    box-shadow: 0 0 1px 1px rgb(223, 227, 240);
    background-color: rgb(24, 24, 43);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
}

.add.opa {
    opacity: 0.5;
}

ul {
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 2rem 0;
    flex-direction: column;
}

li {
    padding: 0.3rem 0.55rem;
    display: flex;
    width: 100%;
    margin: 10px auto;
    background: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    font-size: 18px;
    line-height: 30px;
    list-style: none;
    word-wrap: break-word;
}

li.darker {
    background: rgba(0, 0, 0, 0.3);
    transform: scaleX(0.95);
}

.buttons {
    margin-right: 15px;
}

li button {
    margin-left: 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: rgb(66, 55, 99);
    color: #fff;
    cursor: pointer;
}

.checkBtn {
    padding: 0.3rem 0.55rem;
    border-radius: 3px 3px;
}

.delBtn {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: rgb(242, 72, 72);
}

.label {
    width: 80%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.done {
    text-decoration: line-through;
}

footer {
    display: flex;
    height: 80px;
    align-self: center;
    width: 100%;
    background-color: rgb(66, 55, 99);
    color: white;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    align-self: center;
}

.search {
    width: 50%;
    padding: 0.3rem 0.55rem;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.taskNum {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    align-self: center;
    letter-spacing: 1px;
}