* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    max-width: 80%;
}

.addTask {
    overflow: hidden;
    min-height: 90vh;
    width: 55%;
    margin-right: 30px;
    border: 1px solid black;

    /* background: linear-gradient(-135deg, #ddd, rgb(240, 212, 212), #eee, rgb(208, 209, 241)); */
    /* border-radius: 15px 15px; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: rgb(66, 55, 99);
}

form {
    display: flex;
    width: 80%;
    margin: 10px 0px;
    text-align: center;
}

.addText {
    width: 100%;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.add {
    margin-left: 10px;
    padding: 3px;
    box-shadow: 0 0 2px 1px rgb(223, 227, 240);
    background-color: rgb(24, 24, 43);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
}

li {
    display: flex;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    list-style: none;
    word-wrap: break-word;
    margin: 3px auto
}

.darker {
    background: rgba(0, 0, 0, 0.3);
    /* width: 95%; */
    transform: scaleX(0.95);
}

.buttons {
    display: inline-block;
    width: 20%;
}

li button {
    margin-left: 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: rgb(84, 76, 162);
    color: #fff;
    cursor: pointer;
}

.check {
    padding: 2px 4px;
    border-radius: 3px 3px;
    text-decoration: none;

}

.del {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: rgb(242, 72, 72);

}


span {
    width: 80%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

.done {
    text-decoration: line-through;
}